
main {
    max-width: 1200px;
    margin: 0 auto;  
    width: 100%;

    display:flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;

    background-color: hsl(13, 31%, 94%);
}


