

body {
    background-color: hsl(13, 31%, 94%);
}


.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: hsl(13, 31%, 94%);

  display: flex; 
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}