
.products-container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product-line {
    display: flex;
    gap: 20px;
    justify-content: left;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;

}

.product-card-top {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.product-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.product-image:hover {
    border: 2px solid hsl(14, 37%, 53%);
}

.product-button {
    padding: 10px 20px;
    background-color: hsl(20, 50%, 98%);
    color: hsl(14, 65%, 9%);
    border: 1px solid hsl(12, 20%, 44%);
    border-radius: 32px;
    cursor: pointer;
    margin-top: -20px;
    font-family: "RedHatSemiBold", sans-serif;

    display: flex;
    align-items: center;
    gap: 8px;
}


.product-card-bottom {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
}

.product-category {
    font-family: "RedHatMedium", sans-serif;
    font-size: 14px;
    color: hsl(12, 20%, 44%);
}

.product-name {
    font-family: "RedHatBold", sans-serif;
    font-size: 16px;
    color: hsl(14, 65%, 9%);
}

.product-price {
    font-family: "RedHatBold", sans-serif;
    font-size: 18px;
    color: hsl(14, 37%, 53%);
}


/* ADD TO CART */

.button-addCart {
    

    padding: 10px 20px;
    background-color: hsl(14, 37%, 53%);
    color: hsl(20, 50%, 98%);
    border: 1px solid hsl(12, 20%, 44%);
    border-radius: 32px;
    cursor: pointer;
    margin-top: -20px;
    font-family: "RedHatSemiBold", sans-serif;

    display: flex;
    align-items: center;
    gap: 26px;
    margin-top: -42px;


    /* display: none; */
}

.button-counter-image {
    
    width: 24px;
    height: 24px;

    border: 1px solid hsl(20, 50%, 98%);
    border-radius: 50%;
    padding: 6px;
    
    box-sizing: border-box;
    
}

