

@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}